// Colors
$white: #f4f7fe;
$black: #1a1a1a;
$blue-lighter: #0174fc;
$blue-darker: #064bd6;

// Gradient
$gradient: linear-gradient(220deg, $blue-lighter, $blue-darker);

// Properties
$width: 400px;
$height: 700px;
